<!DOCTYPE html>


<title>DPLanimation</title>



<style style="text/css">
:root {
  --marginlefttext: 1.5%;
  --marginleftimg: 10%;
  --marginleftstart: 20%; /* the margin at the start of the animation */
  --opacity: 1; /* the end opacity to fade to */
  --animationduration: 1.5s;
  --size: 50px; /* the size of the text, images, and borders. Basically all of the sizes are tied to this value*/
}

body {
  background-color: black;
}

@font-face {
    font-family: DPLfont;
    src: url("http://127.0.0.1:8081//fonts/BebasNeueProBold.otf");
}

* {
   font-family: DPLfont;
 }
/*
  Code for lodaing the font
*/



div.slide-left {
  width:100%;
  overflow:hidden
}
/*
  create a new div class called slide-left
*/

div.slide-left p {
  font-size: var(--size);
  color: white;
  display: inline-block;
  animation: slide-leftp 1.5s;
  animation-timing-function: ease-in-out;
  margin-left: 10px;
  overflow: hidden;
}
/*
  code for the p text elements
*/

div.slide-left img {
  border-style: solid;
  border-width: calc(var(--size)/10);
  border-color: white;
  padding: calc(var(--size)/10);
  text-overflow: ellipsis;
  height: var(--size);
  margin-top: var(--size); /* apparently having both the top margin and the height being the same thing aligns it to the text */

  float: left;
  display: inline-block;
  animation: slide-leftimg var(--animationduration);
  animation-timing-function: ease-in-out;
  margin-left: var(--marginleftimg);
}
/*
  code for the img elements
  the images are actually the things that are animating left. The text just simply reacts
*/


@keyframes slide-leftp {
  from {
    opacity:0;
  }

  to {
    opacity:var(--opacity);
  }
}
/*
  Just animate the opacity of the text
*/

@keyframes slide-leftimg {
  from {
    margin-left: var(--marginleftstart);
    opacity:0;
  }

  to {
    margin-left: var(--marginleftimg);
    opacity:var(--opacity);
  }
}
/*
  Animates the images to move left whilst fading in
*/

</style>


<div class="slide-left" id="statsList">

</div>

<script>
  let colorstats = <%- JSON.stringify(colorstats) %>;

  var statsElement = document.getElementById("statsList");
  colorstats.forEach(function(stat) {
    statsElement.insertAdjacentHTML('beforeend', `<img src='${stat[0]}' alt="Gun"><p>${stat[1]}</p><br>`);
  })

</script>
